on:
  pull_request:
    paths:
      - "js/**"
      - ".eslintrc.json"
      - ".prettierrc.json"
      - "package.json"
      - "README.md"

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

jobs:
  lint_js:
    name: Lint JS package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: pnpm/action-setup@v2.2.2
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: .pnpm-store
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --recursive --silent

      - name: Lint
        run: pnpm lint
